.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/doc
/Meta/
/doc/
docs
.venv


inst/scripts/__pycache__
inst/scripts/test.R
inst/scripts/*.docx
inst/scripts/.DS_Store
inst/scripts/figure
inst/scripts/table
